input {
  height: 28px;
  width: 200px;
  font-size: 16px;
  margin-top: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.done {
  border-left: 10px solid mediumseagreen;
  text-decoration: line-through;
}

.doing {
  border-left: 10px solid orange;
}

.undone {
  border-left: 10px solid lightblue;
}

.todo-box {
  padding-left: 40px;
  cursor: pointer;
}

.heading {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove {
  cursor: pointer;
  display: none;
  margin-top: 15px;
  opacity: 0.5;
}

.item:hover .remove {
  display: block;
}
