.inputBox {
  width: 200px;
  height: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.done > span {
  text-decoration: line-through;
}

.done :first-child {
  background-color: mediumseagreen;
}

.doing {
  text-decoration: none;
}

.doing :first-child {
  background-color: orange;
}

.undone {
  text-decoration: none;
}

.undone :first-child {
  background-color: lightblue;
}

.content {
  width: 190px;
  font-size: 18px;
  cursor: pointer;
  overflow: scroll;
}

.display {
  padding-bottom: 10px;
  width: 200px;
  display: flex;
  margin: 0 auto;
}

.display :first-child {
  width: 15px;
}

.title {
  display: block;
  font-size: 1.5em;
  width: 200px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-left: 42.6%;
}

.todo-box {
  padding-bottom: 10px;
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.heading {
  font-size: 1.5em;
}

.remove {
  cursor: pointer;
  visibility: hidden;
  margin-top: 5px;
}

.item:hover .remove {
  visibility: visible;
}

.todo-box:hover .remove {
  visibility: visible;
}
