.inputBox {
  width: 200px;
  height: 20px;
}

.done {
  background-color: mediumseagreen;
  width: 15px;
}

.notDone {
  background-color:lightblue;
  width: 15px;
}

.doing {
  background-color: rgb(243, 131, 91);
  width: 15px;
}

.content {
  width: 190px;
  font-size: 18px;
  cursor: pointer;
  overflow: scroll;
}

.display {
  padding-bottom: 10px;
  width: 200px;
  display: flex;
  margin: 0 auto;
}

.lineThrough {
  text-decoration: line-through;
}
